<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo list</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>EDIT</h1>
    <form method="POST" action="/delete/<%= tasks.userid %>?_method=DELETE">
      <input type="hidden" name="_method" value="PUT" />
    </form>
  </body>
</html>
